/* Variables CSS para colores y fuentes */
:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #1e1e1e;
    --text-color: #f5f5f5;
    --header-bg-color: #333;
    --container-bg-color: #333;
}

/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuentes alternativas */
}

body {
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Estilos por defecto (Modo Oscuro) */
body {
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #f5f5f5; /* Texto claro */
}

header, footer {
    background: #333; /* Fondo del encabezado y pie de página oscuro */
    color: #fff; /* Texto blanco */
}

/* Estilos para el modo claro */
body.light-mode {
    background-color: #f5f5f5; /* Fondo claro */
    color: #333; /* Texto oscuro */
}

body.light-mode .contact a {
    background-color: #e0e0e0;
}

body.light-mode .container2 #copyMessage {
    background-color: #797979;
}

body.light-mode header, body.light-mode footer {
    background: #fff; /* Fondo blanco para el encabezado y pie de página */
    color: #000; /* Texto negro */
}

body.light-mode h2 {
    background-color: #f5f5f5; /* Fondo más claro para secciones */
    color: #333; /* Texto oscuro */
}

body.light-mode.container2 p span {
    background-color: #e0e0e0; /* Fondo más claro para el mensaje de copia */
}

body.light-mode .container h2 {
    background-color: #f5f5f5; /* Fondo más claro para secciones */
    color: #333; /* Texto oscuro */
}

/* Cambiar el fondo de contenedores cuando esté en modo claro */
body.light-mode #about,
body.light-mode #projects .project {
    background-color: #e0e0e0; /* Fondo más claro para secciones */
    color: #333; /* Texto oscuro */
}

body.light-mode #formacion {
    color: #333;
}

body.light-mode .container3 {
    background-color: #e0e0e0;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff; /* Color principal del botón */
    color: white;
}

/* Cambiar colores de botones en modo claro */
body.light-mode button {
    background-color: #0056b3; /* Color diferente para botones en modo claro */
    color: white;
}

/* Otros estilos permanecen igual */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.sobre-mi {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact img {
    width: 20px;
    margin-right: 10px;
    border-radius: 0px;
}

header {
    background: var(--header-bg-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}

header p {
    margin-bottom: 20px;
}

header img {
    width: 200px;
    border-radius: 40px;
}

header h1 {
    margin: 10px 0;
}

header .contact a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 5px;
}

header .contact a:hover {
    background: var(--secondary-color);
}

.container2 {
    text-align: center;
    margin-top: 20px;
}

.container2 p {
    text-align: center;
    background-color: #fff;
    color: #000;
    width: 20%;
    border-radius: 40px;
    margin-left: 605px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
}

#email {
    font-size: 17px;
}

button:hover {
    background-color: var(--secondary-color);
}

#copyMessage {
    margin-top: 10px;
    background-color: var(--header-bg-color);
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

#about {
    background-color: var(--container-bg-color);
    margin: 30px auto; /* Centrar la sección */
    padding: 30px;
    border-radius: 30px;
    max-width: 800px; /* Limitar ancho para mejor diseño */
}

#about p {
    margin: 10px 0;
}

/* Estilos generales de botones */
.btn {
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: var(--secondary-color);
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

/* Estilos para las habilidades */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: -20px;
}

.skills h3 {
    margin-bottom: 15px;
}

.skill-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.skill {
    position: relative;
    margin: 0 15px;
    cursor: pointer;
}

.skill img {
    width: 80px;
    transition: transform 0.3s;
}

.skill:hover img {
    transform: scale(1.1);
}

/* Tooltip */
.tooltip {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%; /* Posiciona el tooltip arriba del icono */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.skill:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

#projects {
    margin-top: -30px;
}

#projects .project {
    background-color: var(--container-bg-color);
    margin: 30px auto; /* Centrar los proyectos */
    padding: 30px;
    border-radius: 30px;
    max-width: 800px; /* Limitar ancho para mejor diseño */
}

.project a {
    margin-top: 20px;
}

#projects a {
    color: var(--primary-color);
}

#formacion {
    margin-top: -80px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 30px;
}

#formacion img {
    display: flex;
    margin-left: -5px;
    width: 10%;
}

#formacion li {
    text-align: left;
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom: 15px;
}

.container3 {
    background-color: var(--container-bg-color);
    border-radius: 30px;
    padding: 30px;
}

#foot {
    text-align: left;
    margin-left: 25px;
}

#foot img {
    width: 1%;
    margin-right: 5px;
}

.btn2 {
    padding: 5px 10px;
    background: #e0e0e0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

.btn2:hover {
    background: var(--secondary-color);
}

.btn3 {
    margin: 5px 0 10px 0;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    margin-right: 1640px;
}

footer {
    background: var(--header-bg-color);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    header img {
        width: 150px;
    }

    .container2 p {
        width: 80%;
        margin: 20px auto;
    }

    #formacion {
        margin: 0;
    }

    .skills {
        flex-direction: column;
    }

    .skill-row {
        flex-direction: column;
        align-items: center;
    }

    .container3 {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }

    header p, header .contact a {
        font-size: 0.9em;
    }

    button, .btn {
        font-size: 0.9em;
        padding: 8px 12px;
    }

    .skills h3 {
        font-size: 1.2em;
    }

    .skill img {
        width: 60px;
    }

    .project {
        padding: 20px;
    }
}